<div class="container">
  <h1>Details of the selected dragon</h1>
  <hr>
  <ul>
    <li><%= @dragon.nickname %></li>
    <li><%= @dragon.speed %></li>
    <li><%= @dragon.size %></li>
    <li><%= @dragon.description %></li>
  </ul>
</div>
