<div class="footer">
  <div class="container">
<ul class="foote_bottom_ul_amrc">
<ol> Société Aya Dragon</ol>
<ol>10 Boulevard des Belges</ol>
<ol>69006 Lyon</ol>

</ul>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

