label {
  color: #c4c4c4;
}
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)),
    asset-url("dragon_bg_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 550px;
  padding: 3rem 4rem 4rem 6rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px !important;
}

.cta {
  padding-top: 2rem;
}
.jumbo-text {
  color: rgba(255, 255, 255, 0.849);
  padding-top: 1rem;
}

.jumbotron .btn {
  border-radius: 24rem;
  background-color: #af0069;
  border: none;
  color: #fff;
}

.jumbotron .btn:hover {
  background-color: #de0085;
  color: #cacaca;
}

.display-3 {
  font-family: "Lobster", cursive;
}

.jumbo-text {
  // font-family: "Exo", sans-serif;
  font-family: "Signika", sans-serif;

  font-size: x-large;
  margin-right: 25rem;
  line-height: 1.9rem;
}
#title {
  font-family: "Signika", sans-serif;
  font-size: xx-large;
}
