.mapboxgl-popup {
  max-width: 150px;
}
.mapboxgl-popup-content {
  text-align: left;
  font-size: large;
}

.mapboxgl-popup-content a {
  font-family: "Signika", sans-serif;
  color: #035ac1;
}

.mapboxgl-popup-content p {
  font-family: "Signika", sans-serif;
  font-style: italic;
}

#map {
  position: sticky;
  top: 0;
}
