.navbar-lewagon {
  justify-content: space-between;
  background-color: #121211;
   }

.nav-item activ {
  color : white;
  margin: 3px;
  align-items: center;
}

.nav-link dropdown-toggle{
color :white;
}

a{
  color:white;
}
.nav-item  {
  color : white;
}

.nav-link{
 color : white!important;
  }

.nav-link-menu{
 color : black!important;
  }

.navbar-nav mr-auto {
  color : white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}




