.search-bar {
  border-radius: 24rem;
}

.search-container {
  box-sizing: border-box;
  background-color: #fff;
  border-color: 2px solid #ced4da;
  border-radius: 24rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 60%;
}

.form-control {
  border: none;
  background-color: #fff;
  color: black;
  text-align: center;
  font-family: "Signika", sans-serif;
}

.fa-search {
  background-color: #de0085;
  border: none;
  border-radius: 24rem;
  color: #fff;
  font-size: large;
  padding: 0.7rem;
}

.section {
  background-color: #f5f5f5;
}
